@import "./mocha.scss";

.workspaces {
    background: $base;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

.workspaces button {
    background-color: transparent;
    padding: 5px 10px 0 10px;
    border-bottom: 2px solid transparent;
    color: $text;
    font-weight: bold;
    border-radius: 0px;
}

.workspaces button:hover {
    background-color: rgba($text, 0.1);
}

.workspaces button:active {
    background-color: rgba($text, 0.2);
}

// .workspaces button.blank {
//     color: $surface1;
//     border-bottom: 2px solid transparent;
// }

.workspaces button.focused {
    border-bottom: 2px solid $lavender;
}

.workspaces button.occupied {
    border-bottom: 2px solid $overlay1;
}
